!!! 5
head
    meta(charset='UTF-8')
    title GrungeSet- Home
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    script(type='text/javascript', src='../js/joc/melon.js')
    script(type='text/javascript', src='../js/joc/entities.js')
    script(type='text/javascript', src='../js/joc/screens.js')
    script(type='text/javascript', src='../js/joc/main.js')
    script(type='text/javascript', src='../js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='../js/record.js')
    body
        header
            .containerHeaderJoc
                h1#title.fontface
                    span.orange ULTIMATE
                    span.pink PUZZLE
                    span.green BUBBLE
            .bottom
        #containerJoc
            section#main
                section#content
                    h2#score.fontface Score = 0
                    br
                    div(align='center')
                        #jsapp
                        div
                aside#sidebar2
                    h2.fontface Top Scores
                    br
                    .optionsRecordTable
                        table
                            tr
                                td
                                    a#linkOptionRecord(onclick='recollirRecordsPersonals()') Me
                                td
                                    | Week
                                td
                                    | All

                    br
                    .recordTable
                        table
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0


        footer
            .containerFooter
                .top
                p  Nicolas & Oscar
