!!! 5
head
    meta(charset='UTF-8')
    title GrungeSet- Home
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    script(type='text/javascript', src='../js/joc/melon.js')
    script(type='text/javascript', src='../js/joc/entities.js')
    script(type='text/javascript', src='../js/joc/screens.js')
    script(type='text/javascript', src='../js/joc/main.js')
    body
        header
            .containerHeader
                h1#title.fontface
                    #cabecera
                        span.orange ULTIMATE
                        span.pink PUZZLE
                        span.green BUBBLE
            .bottom
        #container
            section#main
                aside#sidebar2
                    h2.fontface Score
                    br
                    br
                    br
                    h2.fontface Top Scores
                    br
                    br
                    br
                section#content
                    h2.fontface GAME
                    br
                    div(align='center')
                        #jsapp
                        div
        footer
            .containerFooter
                .top
                p  Nicolas & Oscar
