!!! 5
head
    meta(charset='UTF-8')
    title GrungeSet- Home
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    script(type='text/javascript', src='../js/joc/melon.js')
    script(type='text/javascript', src='../js/joc/entities.js')
    script(type='text/javascript', src='../js/joc/screens.js')
    script(type='text/javascript', src='../js/joc/main.js')
    script(type='text/javascript', src='../js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='../js/record.js')
    body
        header
            .containerHeaderJoc
                h1#title.fontface
                    span.orange ULTIMATE
                    span.pink PUZZLE
                    span.green BUBBLE
            .bottom
        #containerJoc
            section#main
                section#content
                    h2#score.fontface Score = 0
                    br
                    div(align='center')
                        #jsapp
                        div
                aside#sidebar2
                    h2.fontface Top Scores
                    br
                    .optionsRecordTable
                        table
                            tr
                                td
                                    a#linkOptionRecord(onclick='recollirRecordsPersonals()') Me
                                td
                                    a#linkOptionRecord(onclick='recollirRecordsSetmanals()') Week
                                td
                                    a#linkOptionRecord(onclick='recollirRecordsTotals()') All

                    br
                    .recordTable
                        table
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0
                            tr
                                td
                                    | Not added
                                td
                                    | 0


        footer
            #divFooter
                #footerLeft(style="width:320px; float:left;")
                    section
                        hgroup
                            h2.fontface.orange(style="font:30px/52px 'BoycottRegular', Arial, sans-serif;") How To Play
                    li Welcome! You're in front the welcome screen, click on the game, where the GAME START READY text is, to begin to play.
                    br
                    li You have the arrow control.
                    br
                    li With your keyboard keys you can move this arrow. The left key you move the arrow to the left, with the right key you move the arrow to the right, and with the up key you center the arrow.
                    br
                    li With the space key you can shoot the balls.
                    br
                    li You can see the next ball to shoot the arrow. So, you can see that the group of balls you can hit.
                    br
                    li The more balls you break, the more points you get. Try to break all records!
                #footerLeft(style="width:320px; float:right;")
                    section
                        hgroup
                            h2.fontface.pink(style="font:30px/52px 'BoycottRegular', Arial, sans-serif;") Facts
                    li The original Taito's Puzzle Bobble is 27 years old, it was launched in 1986 as a response for Pac Man, and all the clones that it led to the arcade saloons.
                    br
                    li According to the Game Designer's words, Fukio Mitsuji, the game was created with one purpose: let the couples play together, happy in only one arcade machine.
                    br
                    li The balls, in fact, are enemies, and in the original game they were more. Their names are Invader (red ball), Pulpul (yellow ball), Drunk (green ball), Zen-Chan (blue ball), Monsta (purple ball), Banebou (orange ball), Hidegonsu (black ball) and Mighta (white ball).
                    br
                    li The original characters, two green dinosaurs called Bub and Bob, we're original part of Bubble Bobble, another Taito game of the 80s.
                    br
                    li They are about 27 official versions of this game, but could be almost 100 with unofficial versions and mobile.
                #footerLeft(style="width:320px; margin:0 auto;")
                    section
                        hgroup
                            h2.fontface.green(style="font:30px/52px 'BoycottRegular', Arial, sans-serif;") Info
                    li Hi! We're skar & Xaconi, and this is our little tribute to one of the most famous puzzle games in the 90s.
                    br
                    li We did this for our class in college, Alternatives for Aplication Development, and it took us about 4 months to do it.
                    br
                    li We used a lot of technologies and frameworks. For the web part, we create a Node JS server with a MongoDB database, plus the Express framwwork and .jade template engine.
                    br
                    li As IDE, we used Webstorm (college license, but try this IDE guys, is pretty awesome!), Google Chrome for debug & test stuff, and MongoVUE as MongDB manager.
                    br
                    li Finally, the game is built in HTML5 under MelonJS, a HTML5 game framwork oriented entities, that facilitates the work with a lot of cool stuff.
                .containerFooter
                    .top
