!!! 5
html(lang='fr')
head
    meta(charset='utf-8')
    title PB
    style(type='text/css')
        body {
            background:#000;
            text-align:center;
            color:#fff;
        }
        #jsapp {
            width:800px;
            margin:auto;
        }
    body
        #jsapp
        p
            | Fes servir les fletxes per moure a l'esquerra i a la dreta i l'espai per disparar
        script(type='text/javascript', src='../js/joc/melon.js')
        script(type='text/javascript', src='../js/joc/entities.js')
        script(type='text/javascript', src='../js/joc/screens.js')
        script(type='text/javascript', src='../js/joc/main.js')
